.mar{
    margin-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.disp{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: white;
    height: 81px;
 
}
.input{
    border-radius: 40px;
    width: 360px;
    height:34px;
    padding-left: 8%;
}
select{
    background-color: white;
    border: none;
    margin-right: 5%;
    margin-bottom: 3%;
}
.selectitem{
    width: 50%;
}
.icon{
    position:absolute;
    margin-bottom: 0.75%;
    left: 6%;
}
.row{
    display: flex;
    padding-left: 8%;
    
}
.row div{
    font-size: 10px;
    font-weight: 500;
    padding-right: 2%;
    padding-top: 1%;
   
}
.row div span{
    padding-left: 33%;
}
